{% extends 'layout.html' %}
{% block title %}TuneTube - Account{% endblock %}
{% block head %}
    <link rel="stylesheet" href="static/css/pages/account.css" />
{% endblock %}
{% block body %}
    <div class="user-container">
        <div class="account-name">
            <h1>{{ test_user }}</h1>
        </div>

        <div class="profile-photo">
            <img class="profile-photo" src="static/css/components/profile pic.png" />
        </div>
    </div>

    <form>
        <label for="name">Display name:</label><br />
        <input type="text" id="name" name="name" placeholder="Your display name" /><br />
        <label for="bio">Bio:</label><br />
        <input type="text" id="bio" name="bio" placeholder="Your bio" /><br />
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
