{% extends 'layout.html' %}
{% block title %}
    TuneTube
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/css/pages/home.css" />
    <script src="/static/js/funct.js" defer></script>

{% endblock %}

{% block body %}

    <!-- Container for user feed -->
    <div id="master">
        <!-- Empty Column -->
        <div class="left-div"></div>

        <!-- Feed Column -->
        <div class="center-div">
            {% for post in posts %}
                <!-- Link to the Post -->
                <div class="card">
                    
                    <!-- Post Title -->
                    <h2>{{post.getTitle()}}</h2>
                    <!-- Post Creator -->
                    <h4>{{ post.getUsername()}}</h4>
                    <!-- Music Player -->
                    <div>
                        <p>Music player thingy</p>

                        <!-- Shows if the user likes the post -->
                        <a class = "like-btn liked"></a>

                    </div>
                    
                    <a href="/post/{{ post.getID() }}" class ="underline small-font">View more comments</a>
                    <form action = "/post/{{ post.getID() }}">
                        <input type="text" id="comment" placeholder="Leave a comment" class="comment-box"/>
                    </form>
                </div>

            {% endfor %}
        </div>
        <!-- Profile Column -->
        <div class="right-div">
            <!-- Link to your profile -->
            <a>
                <div>
                    <h4>UserName!</h4>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
