{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block head %}
    <link rel="stylesheet" href="static/css/pages/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="body">
        <div class="center-div-title">
            <h1 class="title">Are you ready to get back to your Tunes?</h1>
        </div>
        <div class="center-div-box">
            <div class="box">
                <h2 class="title">Login Below:</h2>
                <div class="form-align">
                    <form action="/login" method="post">
                        <div>
                            <label for="name">Username:</label>
                            <input type="text" id="name" name="name" placeholder="Xxx_NoobSlayer_xxX" required />
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="123ABC" required />
                        </div>
                        <input type="submit" class="button button-submit" value="Login" required />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
