{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block head %}
    <link rel="stylesheet" href="static/css/pages/login.css" />
{% endblock %}
{% block body %}
    <div class="body">
        <div class="center-div-title">
            <h1>Ready to get back to your Notes?</h1>
        </div>
        <div class="center-div-box">
            <div class="box">
                <h2>Login below:</h2>
                <div class="form-align">
                    <form action="/login" method="post">
                        <label for="name"></label><br />
                        <input type="text" id="name" name="name" placeholder="Username" required /><br />
                        <label for="password"></label><br />
                        <input type="password" id="password" name="password" placeholder="password" required /><br />
                        <label for="submit"></label><br />
                        <input type="submit" value="Submit" required />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
