{% extends 'layout.html' %}
{% block title %}TuneTube · New Tune{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/pages/new.css" />
    <script src="/static/js/pages/new-page.js" type="module" defer></script>
{% endblock %}
{% block body %}
    <h1>New Tune</h1>
    <form method="POST" action="/tunes">
        <div class="form-element flex-column">
            <label for="title">Tune Title</label>
            <input id="title" name="title" type="text" placeholder="tune title" required />
        </div>
        <button id="record-button">Record</button>
        <button type="submit" id="submit-button" disabled>Submit</button>
    </form>
    <div class="keyboard-container">
        <div id="keyboard">
            {% for key in keys %}
                <div id="{{ key.frequency }}" class="key {{ key.type }} clickable"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
