{% extends 'layout.html' %}
{% block title %}
    TuneTube - {{ post_info.getTitle() }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/pages/post.css" />
    <script src="/static/js/pages/post-page.js" type="module" defer></script>
{% endblock %}
{% block body %}
    <div class="post-container">
        {% include 'components/post_card.html' %}

        <div class="comments-container">
            <h3>Comments</h3>
            {% for comment in post_info.getComments()|reverse %}
                <div class="comment-card">
                    <div class="comment-header">
                        <p class="comment-author">{{ comment.getUsername() }}</p>
                        <p class="comment-timestamp">{{ comment.getPost_Time() }}</p>
                    </div>
                    <div class="comment-content">
                        <p>{{ comment.getComment() }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!--
    <form id="comment-form" action="/post/{{ post_info.getID() }}" method="POST">
        <span>
            <div class="commenter">{{ user_info.getUsername() }}</div>
            <textarea name="create-comment" placeholder="Leave a comment" class="comment-box" maxlength="1000"
                wrap="soft" id="post-comment"></textarea>
        </span>
    </form>
--></div>
{% endblock %}
