{% extends 'layout.html' %}
{% block title %}
    TuneTube - {{ post_info.getTitle() }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/pages/post.css" />
    <script src="/static/js/pages/post-page.js" type="module" defer></script>
{% endblock %}
{% block body %}
    <div class="post-container">
        {% include 'components/post_card.html' %}

        <div class="comments-container">
            <h3>Comments</h3>
            <form class="comment-form" action="/tunes/{{ post_info.getID() }}/comments" method="POST">
                <label for="comment">Commenting as <span class="commenter">{{ user_info.getUsername() }}</span></label>
                <textarea
                    id="comment-input"
                    name="comment"
                    placeholder="Leave a comment"
                    rows="3"
                    maxlength="1000"
                    wrap="soft"
                    required></textarea>
                <button type="submit">Comment</button>
            </form>
            {% for comment in post_info.getComments()|reverse %}
                {% include 'components/comment_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
