{% extends 'layout.html' %}
{% block title %}
    TuneTube
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/css/pages/post.css" />

{% endblock %}

{% block body %}
<div class = "card">
    <h1>{{post_info.getTitle() }}</h1>
    <h4>{{post_info.getUsername()}}</h4>
    
    <div>
        <p>Music player thingy</p>
    </div>

    <button type = "button"> 💖 {{post_info.likeCount()}}</button>

</div>

<form action = "/post/{{ post_info.getID()}}" method = "POST">
    <input type = "text" name = "create-comment" placeholder="Leave a comment" />
</form>

    {% for comment in post_info.getComments()|reverse %}
    <div class = "comment">
        <h4>{{ comment.getUsername()}}</h4>
        <p>{{ comment.getComment() }}</p>
    </div>
    {% endfor %}
        
{% endblock %}
