{% extends 'layout.html' %}
{% block title %}
    TuneTube
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/css/pages/post.css"/>

{% endblock %}

{% block body %}
    <!-- Post Title -->
    <div class = "card-title"><href="/post/{{ post_info.getID()}}">{{post_info.getTitle()}}</div>
        
    <!-- Post Creator -->
    <div class = "creator">{{ post_info.getUsername()}}</div>
        
    <p></p>

    <!-- Music Player -->
    <div>
        <span>Music player</span>
        
        <!-- Shows if the user likes the post -->
        {%if user_info.isLiked(post_info.getID()) == True: %}
        <span><button class = "like-btn"> 💖 </button></span>
        {%else%}
        <span> <button class = "like-btn"> 💔 </button></span>
        {% endif %}
    </div>

    <p></p>

    <form action = "/post/{{ post_info.getID()}}" method = "POST">
        <input type = "text" name = "create-comment" placeholder="Leave a comment" />
    </form>

    {% for comment in post_info.getComments()|reverse %}
    <div class = "comment">
        <h4>{{ comment.getUsername()}}</h4>
        <p>{{ comment.getComment() }}</p>
    </div>
    {% endfor %}
    
{% endblock %}
