{% extends "layout.html" %}
{% block title %}TuneTube - Account{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/pages/signup.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
{% endblock %}
{% block body %}
<div class="body">
    <div class="center-div-title">
        <h1 class="title">Do you want to make and share Tunes with your friends?</h1>
    </div>

    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <div class="center-div-box">
        <div class="box">
            <h2 class="title">Sign-Up Below:</h2>
            <div class="form-align">
                <form action="/account/register" method="post">
                    <div>
                        <label for="name">Username:</label>
                        <input type="text" id="name" name="name" placeholder="Your unique name" required />
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Create a strong password"
                            required />
                    </div>
                    <div>
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password"
                            placeholder="Make sure the passwords match!" />
                    </div>
                    <input type="submit" class="button button-submit" value="Submit" required />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}