{% extends "layout.html" %}
{% block title %}TuneTube - Account{% endblock %}
{% block body %}
    <h1>Create Account</h1>

    <!--TODO add profile image (maybe)-->

    <h2>Sign-Up Below</h2>

    <form action="/account/register" method="post">
        <label for="name">Display name:</label><br />
        <input type="text" id="name" name="name" placeholder="Your display name" required /><br />
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" placeholder="Your email" required /><br />
        <label for="password">Password</label><br />
        <input type="password" id="password" name="password" placeholder="Create a strong password" required /><br />
        <label for="confirm_password">Confirm Password</label><br />
        <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            placeholder="Make sure the passwords match!" /><br />
        <input type="submit" value="Submit" required />
    </form>
{% endblock %}
