@import url("/static/css/vars.css");

/* Reset ---------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Utils ---------------------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.spacer {
    /* fill remaining horizontal space */
    flex-grow: 1;
}

.hidden {
    display: none;
}

/* Fonts ---------------------------- */

body {
    font-family: sans-serif;
}

/* Main ----------------------------- */

main {
    padding: 1rem;
    flex: 1 0 auto;
}

/* Footer --------------------------- */

footer {
    text-align: center;
    font-size: 0.8em;
}

/* three column divs for homepage*/
.left-div {
    width: 25%;
    background: red;
    height: 501px;
    position: fixed;
    left: 0;
    top: 20;
}

.center-div {
    /* background: yellow; */
    height: 501px;
    margin-left: 25%;
    margin-right: 25%;
    top: 20;
    position: absolute;
}

.right-div {
    top: 20;
    position: relative;
    width: 25%;
    background: green;
    height: 501px;
    position: fixed;
    right: 0;
}

div.card {
    outline: 2px solid black;
    padding: 5%;
    background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 5%;
}

/* card for each post on the home page */
