@import url("/static/css/vars.css");

/* Reset ---------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Utils ---------------------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.spacer {
    /* fill remaining horizontal space */
    flex-grow: 1;
}

.hidden {
    display: none;
}

/* Fonts ---------------------------- */

body {
    font-family: sans-serif;
}

/* Main ----------------------------- */

main {
    padding: 1rem;
    flex: 1 0 auto;
}

/* Footer --------------------------- */

footer {
    text-align: center;
    font-size: 0.8em;
}
