/* three column divs for homepage*/
.left-div {
    width: 25%;
    background: red;
    height: 501px;
    position: fixed;
    left: 0;
    top: 20;
}

.center-div {
    /* background: yellow; */
    height: 501px;
    margin-left: 25%;
    margin-right: 25%;
    top: 20;
    position: absolute;
}

.right-div {
    top: 20;
    position: relative;
    width: 25%;
    background: green;
    height: 501px;
    position: fixed;
    right: 0;
}

/* card for each post on the home page */

div.card {
    outline: 2px solid black;
    padding: 5%;
    background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 5%;
}
