@import url("/static/css/vars.css");
@import url("/static/css/components/piano.css");

.keyboard-container {
    position: relative;
    width: 100%;
    height: 30vh;
}

@media screen and (max-width: 500px) {
    .keyboard-container div.can-hide {
        display: none;
    }
}

.gradient {
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0), #151515);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 50vh;
    background-color: #151515;
}

.button {
    border: none;
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat'; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: .4s;
}

.button-signup {
    background-color: #2c8a3b;
    color: white;
}

.button-signup:hoover {
    background-color: #c95a14;
    color: white;
}

.button-login {
    background-color: #7f7b82;
    color: white;
}

.title {
    display: flex;
    align-items: normal;
    font-size: 40px;
    font-family: 'Jura'; 
    background-color: #151515;
    color: white;
    padding-left: 15vw;
}