@import url("/static/css/vars.css");

body {
    background-color: #e5d0cc;
    height: 100%;
}

.form-containter {
    margin-bottom: 25%;
    margin-top: 25%;
}

form div {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
}
form input {
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
}

.center-div-box {
    background-color: white;
    padding: 50px;
    width: 50%;
    max-height: 100vh;
    margin-left: 25%;
    margin-right: 25%;
    top: 20;
    position: relative;
}

.center-div-title {
    text-align: center;
    width: 50%;
    max-height: 100vh;
    margin-left: 25%;
    margin-right: 25%;
    top: 20;
    position: relative;
}

.form-align {
    display: flex;
    justify-content: center;
}

input[type=text], select {
    width: 30vw;
    padding: 12px 15px;
    font-family: 'Montserrat';
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 30vw;
    padding: 12px 15px;
    font-family: 'Montserrat';
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    border: none;
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat'; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button-submit {
    background-color: #674174;
    color: white;
}

