@import url("/static/css/vars.css");

.body {
    background-color: #e5d0cc;
}

.form-containter {
    margin-bottom: 25%;
    margin-top: 25%;
}

.center-div-box {
    background-color: white;
    padding: 50px;
    width: 50%;
    max-height: 100vh;
    margin-left: 25%;
    margin-right: 25%;
    top: 20;
    position: relative;
}

.center-div-title {
    text-align: center;
    width: 50%;
    max-height: 100vh;
    margin-left: 25%;
    margin-right: 25%;
    top: 20;
    position: relative;
}

.form-align {
    display: flex;
    justify-content: center;
}