@import url("/static/css/vars.css");
@import url("/static/css/components/piano.css");

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    max-width: 500px;
}

.form-element {
    grid-column: 1/3;
}

.form-element input {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    font-size: medium;
}

form button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    font-size: large;
}

#record-button {
    background-color: var(--coral-color);
}
#record-button:hover {
    background-color: #ce6437;
}

#submit-button {
    background-color: var(--purple-color);
}
#submit-button:hover {
    background-color: #4d3056;
}
#submit-button:disabled,
#submit-button:hover:disabled {
    background-color: var(--gray1-color);
}

.keyboard-container {
    width: 100%;
    height: 70%;
    padding: 2rem 1rem;
}
header nav a {
    color: white;
    text-decoration: none;
}

header a,
header a:active,
header a:visited,
header a:hover {
    color: white;
    text-decoration: none;
}

header nav a:hover,
header nav a.active {
    color: var(--coral-color);
}