@import url("/static/css/vars.css");
@import url("/static/css/components/post-card.css");

.post-container {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.comments-container {
    width: 100%;
}

/*
.commenter {
    color: black;
    font-size: medium;
    font-weight: bold;
    display: inline;
}

.time-stamp {
    color: gray;
    font-size: small;
    display: inline;
}

.comment {
    font-size: medium;
    overflow-wrap: break-word;
    margin-top: 1%;
}

.create-comment {
    width: fit-content;
    border: none;
    font-size: medium;
}

.comment-box {
    width: 100%;
    font-size: medium;
    overflow-wrap: break-word;
    margin-top: 1%;
    border: none;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

textarea:focus,
input:focus {
    outline: none;
}
*/
