@import url("/static/css/vars.css");
@import url("/static/css/components/post-card.css");
@import url("/static/css/components/comment-card.css");

.post-container {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
    padding: 1rem;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.comments-container {
    width: 100%;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.comment-form label {
    color: var(--charcoal-color);
}

.comment-form textarea {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: small;
}

.comment-form button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--white-color);
    background-color: var(--purple-color);
    font-size: large;
}

.comment-form button:hover {
    background-color: #4d3056;
}
