.card-title {
    font-size: xx-large;
    padding-bottom: 1%;
}

div.card {
    outline: 2px solid black;
    padding: 5%;
    background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10%;
}