@import url("/static/css/vars.css");

body {
    background-color: #e5d0cc;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    max-width: 500px;
    width: 100%;
}

.form-containter {
    margin-bottom: 25%;
    margin-top: 25%;
}

form div {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
}

.title {
    display: flex;
    max-width: fit-content;
    justify-content: center;
    font-family: 'Montserrat';
}

.box {
    background-color: white;
    padding: 1rem 2rem 2rem;
}

.center-div-title {
    text-align: center;
}

.form-align {
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

input, select {
    padding: 12px 15px;
    font-family: 'Montserrat';
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.button {
    border: none;
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat'; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button-submit {
    background-color: #674174;
    color: white;
}

