@import url("/static/css/vars.css");

/* Header --------------------------- */

header {
    /* Padding around content */
    padding: 0.25rem 1rem;
    height: 3.5rem;

    /* vertically center items, gap between each */
    align-items: center;
    gap: 2rem;
}

header h1 {
    /* Remove margin from branding */
    margin: 0;
}

header nav,
.nav-links-container {
    /* nav and nav-links container center vertically */
    align-items: center;
    gap: 1rem;

    /* fill remaining horizontal space */
    flex-grow: 1;
}

/* Menu Button ---------------------- */

nav .menu-button {
    /* Use a cursor on the menu button */
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .nav-links-container > .spacer {
        /* Don't show the spacer used to right-align the account page link when on mobile */
        display: none;
    }

    .nav-links-container {
        /* links are absolutely positioned under the header, and full width */
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;

        /* Links are in a column with 1rem padding at the bottom */
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        /* scaleY(0) means the links are not visible on the page */
        transform: scaleY(0);
        /* top origin means the animation moves down from top */
        transform-origin: left top;
        transition: all 0.5s ease-in-out;
    }

    .nav-links-container.visible {
        /* scaleY(1) visible at full height */
        transform: scaleY(1);
    }
}

@media only screen and (min-width: 750px) {
    nav .menu-button,
    nav > .spacer {
        /* Don't show the menu button or the spacer used to right-align the menu button when on desktop */
        display: none;
    }
}

/* Colors --------------------------- */

header,
.nav-links-container {
    /* Background and text color */
    background-color: var(--charcoal-color);
    color: white;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover,
header nav a.active {
    color: var(--coral-color);
}

/* ---------------------------------- */
