@import url("/static/css/vars.css");

.post-card {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;

    background-color: var(--gray1-color);
    color: var(--white-color);
    box-shadow: 3px 3px 3px var(--charcoal-color);
}

.post-header {
    margin-bottom: 1rem;
}

.post-header * {
    margin: 0;
}

.post-header h2 {
    margin-bottom: 0.5rem;
}

.post-header h3 {
    margin-right: 0.5rem;
}

.post-header h3,
.delete-button {
    display: inline;
}

@media screen and (min-width: 500px) {
    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-header h2 {
        margin-bottom: 0;
    }
}

.post-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playback-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.play-button {
    font-size: 3em;
    color: var(--coral-color);
}

.like-button {
    font-size: 2em;
    color: var(--white-color);
}

.delete-button {
    font-size: 1em;
    color: var(--white-color);
}

.like-button:hover,
.delete-button:hover {
    color: var(--coral-color);
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: var(--purple-color);
    background-color: transparent;
    text-decoration: none;
}
