{% extends 'layout.html' %}
{% block title %}TuneTube{% endblock %}
{% block body %}
    <link rel="stylesheet" href="static/css/home-page.css" />

    <!-- Container for user feed -->
    <div id="master">
        <!-- Empty Column -->
        <div class="left-div"></div>

        <!-- Feed Column -->
        <div class="center-div">
            {% for i in range(20) %}
                <!-- Link to the Post -->
                <a>
                    <div class="card">
                        <h1>Friend Song Title</h1>
                        <h4>Friend Name</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- Profile Column -->
        <div class="right-div">
            <!-- Link to your profile -->
            <a>
                <div>
                    <h1>UserName!</h1>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
