<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="static/css/styles.css" />
        <link rel="stylesheet" href="static/css/layout.css" />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />

        {% block head %}{% endblock %}

        <script src="/static/js/mobile-nav.js" defer></script>
    </head>

    <body class="flex-column">
        <header class="flex-row">
            <h1>TuneTube</h1>
            <nav class="flex-row">
                <div class="flex-row nav-links-container">
                    <div class="nav-link">
                        <a class="{% if home_active %}active{% endif %}" href="/">Home</a>
                    </div>
                    <div class="nav-link">
                        <a class="{% if editor_active %}active{% endif %}" href="/editor">Tune Editor</a>
                    </div>
                    <div class="nav-link">
                        <a class="{% if library_active %}active{% endif %}" href="/library">Tune Library</a>
                    </div>
                    <span class="spacer"></span>
                    <div class="nav-link account-link">
                        <a class="{% if account_active %}active{% endif %}" href="/account">Account</a>
                    </div>
                </div>
                <span class="spacer"></span>
                <div class="menu-button">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>© TuneTube <span id="copy-year">2023</span></p>
            <script>
                document.querySelector("#copy-year").textContent = new Date().getFullYear();
            </script>
        </footer>
    </body>
</html>
