<div class="post-card" data-id="{{ post.getID() }}">
    <div class="post-header">
        <h2 class="post-title">{{ post.getTitle() }}</h2>
        <div>
            <h3 class="post-author"><a href="/account/{{ post.user_id }}">{{ post.getUsername() }}</a></h3>
            {% if post.user_id == user_info.getID() %}
                <button class="delete-button">
                    <i class="fa-solid fa-trash"></i>
                </button>
            {% endif %}
        </div>
    </div>

    <div class="post-actions">
        <div class="playback-container">
            <button class="post-action play-button">
                <i class="fa-solid fa-circle-play"></i>
            </button>
            <p>
                <span>0:00</span>/{{ (post.getDuration() / 60000)|int }}:{%
                    if (post.getDuration() % 60000 /
                    1000)|round|int < 10
                %}0{% endif %}{{ (post.getDuration() % 60000 / 1000)|round|int }}
            </p>
        </div>
        <button class="post-action like-button">
            {% if user_info.isLiked(post.getID()) == True: %}
                <i class="fa-solid fa-heart"></i>
            {% else %}
                <i class="fa-regular fa-heart"></i>
            {% endif %}
        </button>
    </div>
</div>
