<div class="post-card" data-id="{{ post.getID() }}">
    <div class="post-header">
        <h2 class="post-title">{{ post.getTitle() }}</h2>
        <h3 class="post-author">{{ post.getUsername() }}</h3>
    </div>

    <div class="post-actions">
        <div class="playback-container">
            <button class="post-action play-button">
                <i class="fa-solid fa-circle-play"></i>
            </button>
            <p>
                <span>0:00</span>/{{ (post.getDuration() / 60000)|int }}:{%
                    if (post.getDuration() % 60000 /
                    1000)|round|int < 10
                %}0{% endif %}{{ (post.getDuration() % 60000 / 1000)|round|int }}
            </p>
        </div>
        <div>
            <form method="post" action="/library_page/{{ post.getID() }}/delete">
                <button type="submit">
                    <img class="img-responsive center-block" src="/static/trashcan.svg" alt="Delete" height="24px">
                </button>
            </form>
        </div>
        <button class="post-action like-button">
            {% if user_info.isLiked(post.getID()) == True: %}
                <i class="fa-solid fa-heart"></i>
            {% else %}
                <i class="fa-regular fa-heart"></i>
            {% endif %}
        </button>

    </div>
</div>
